.home {
  align-items: center;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  display: flex;
  justify-content: center;
  
}
.content {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  width: 70%;
}
.left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 50%;
}

.left > h1 {
  font-family: "Tilt Neon", cursive;
  font-size: 9rem;
  letter-spacing: 0.25rem;
}
.left > h2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.left > p {
  font-size: 1.25rem;
  line-height: 2rem;
  width: 65%;
}

.right {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.circle {
  width: 10%;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 6rem;
}
.right > .circle > h2 {
  color: black;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
}

@media screen and (max-width: 1024px) {
  .home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  .content {
    flex-direction: column;
    margin-top: 8rem;
    row-gap: 5rem;
  }

  .left {
    align-items: center;
    width: 100%;
  }

  .left > h2 {
    font-size: 1.5rem;
  }

  .left > p {
    width: 100%;
  }
}
