.home {
    align-items: center;
    background-image: url(../../assets/home/background-home-desktop.jpg);
    display: flex;
    justify-content: space-evenly;
}

main {
    width: 30%;
}

.explore {
    background-color: var(--main-color);
    border-radius: 50%;
    color: black;
    height: 30%;
    width: 15%;
}
