.home {
    align-items: center;
    background-image: url(../../assets/home/background-home-desktop.jpg);
    display: flex;
    justify-content: space-evenly;
}

main {
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

main > h1 {
    font-family: 'Tilt Neon', cursive;
    font-size: 10rem;
    letter-spacing: 0.25rem;
}

main > h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}

main > p {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.explore {
    background-color: var(--main-color);
    border-radius: 50%;
    color: black;
    height: 30%;
    width: 15%;
}
