<c-carousel [interval]="0">
    <c-carousel-inner>
        <c-carousel-item *ngFor="let crewMember of crewMembers">
            <p>{{crewMember.role | uppercase}}</p>
            <p>{{crewMember.name | uppercase}}</p>
            <p>{{crewMember.bio}}</p>
            <img [src]="crewMember.images[0]" alt="{{crewMember.name}} image" class="d-block w-100"/>
        </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>
