<div class="container">
  <h2>{{title}}</h2>
  <c-carousel [interval]="0">
    <c-carousel-inner>
      <c-carousel-item *ngFor="let crewMember of crewMembers">
        <div class="crew-info">
          <h3>{{ crewMember.role | uppercase }}</h3>
          <h3>{{ crewMember.name | uppercase }}</h3>
          <p>{{ crewMember.bio }}</p>
          <c-carousel-indicators></c-carousel-indicators>
        </div>
       
        <div class="image-container">
          <img
            [src]="crewMember.images[0]"
            alt="{{ crewMember.name }} image"
            class="d-block w-100"
          />
        </div>
       
      </c-carousel-item>
     
    </c-carousel-inner>
  </c-carousel>
</div>
