c-navbar {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  font-family: "Golos Text", sans-serif;
  justify-content: flex-end;
  height: 5rem;
  margin-top: 3.5rem;
  opacity: 0.75;
  position: absolute;
  right: 0;
  width: 85%;
}

.hr-line {
  height: 2px;
  background-color: var(--main-color);
  align-self: center;
  left: 0;
  width: 40%;
  position: absolute;
}

c-navbar-nav {
  align-self: stretch;
 
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  padding-right: 2rem;
  width: 70%;
}

c-navbar-nav > a {
  align-self: center;
  color: var(--main-color);
  font-size: 1.75rem;
  text-decoration: none;
}
