c-navbar {
  display: flex; 
  font-family: 'Golos Text', sans-serif;
  justify-content: flex-end;
  margin-top: 3.5rem;
  z-index: 20;
}
/* c-navbar > span {
    align-self: center;
    background-color: var(--main-color);
    height: 0.1rem;
    margin-right: 55%;
    width: 40%;
} */

c-navbar-nav {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
  width: 60%;
}

c-navbar-nav > a {
  color: var(--main-color);
  font-size: 1.25rem;
  text-decoration: none;
}

c-navbar-nav > a > span {
  color: var(--secondary-color);
  font-weight: bold;
  margin-right: 0.5rem;
}